body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: red;
}

h2 {
  color: red;
}

nav {
  display: flex;
  padding: 20px;
  align-items: center;
  border-bottom: 1px solid #dcdcdc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

.navButton {
  margin-left: auto;
  border: none;
  border-radius: 10%;
  background-color: red;
  color: white;
  width: 100px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-right: 40px;
}

.navButton:hover {
  background-color: white;
  color: red;
  border: 1px solid red;
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heroTitle {
  color: red;
  font-size: 4rem;
  margin: 0px
}

.heroSubTitle {
  color: red;
  font-size: 3rem;
  margin: 0px
}

.heroText {
  color: red;
  font-size: 2rem;
  font-weight: 700;
  margin: 0px
}